:root {
    --icims_primary_teal: #48A8AF;
    --icims_primary_gold: #F9A84C;
    --icims_primary_purple: #A773B0;
    --icims_primary_red: #EC1D31;
    --icims_primary_gray: #63666A;
    --icims_primary_white: #FFFFFF;
    --icims_primary_black: #000000;
    --icims_tinted_teal: #007D8A;
    --icims_tinted_gold: #B47E00;
    --icims_tinted_purple: #7E5475;
    --icims_tinted_gray: #63666A;
    --icims_font_family: poppins;
}

html {
    font-family: var(--icims_font_family);
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#noticebar {
    background-color: var(--icims-primary-teal);
    text-align: center;
    font-size: 1.8em;
}

#noticebar > p {
    padding: 10px;
    color: var(--icims_primary_white);
}

#logo {
    height: 100px;
    margin: 10px 10px 10px 20px;
}

#pop_up_settings {
    margin: 0px 10px 10px 20px;
}

form {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    border: 0px;
    padding: 0px 0px 10px 0px;
}

input[type=submit] {
    border-radius: 10px;
    border-width: 0px;
    padding: 8px 24px;
    background-color: var(--icims_primary_teal);
    color: var(--icims_primary_white);
}

input[type=text] {
    padding: 6px;
    width: 25%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 1.1em;
}

.footerdiv {
    margin: auto;
    width: 400px;
}

.footerdiv > p {
    float: left;
    width: 100%;
    padding: .15rem 0px;
    text-align: center;
}